<mat-dialog-content class="mat-typography" style="width: 700px">
  <h4>LernJob Erstellen</h4>
  <form [formGroup]="form" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <div style="display: inline-block; width: 60%">
        <mat-form-field fxFlex style="width: 100%">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Name"
            aria-label="Name"
            formControlName="name"
          />
          <mat-error *ngIf="form"> Name ist obligatorisch </mat-error>
          <mat-error *ngIf="form.get('name')?.hasError('maxlength')">
            Name darf nicht länger als 50 sein
          </mat-error>
        </mat-form-field>
      </div>
      <div style="display: inline-block; width: 40%">
        <app-subject-control
          [control]="subjectControl"
          styleOption="select"
        ></app-subject-control>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-form-field fxFlex style="width: 100%">
        <mat-label>Beschreibung</mat-label>
        <textarea
          matInput
          placeholder="Beschreibung"
          aria-
          label="Beschreibung"
          formControlName="notes"
        ></textarea>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-form-field fxFlex style="width: 100%">
        <mat-label>Credits</mat-label>
        <input
          matInput
          placeholder="Credits"
          aria-label="Credits"
          formControlName="weight"
          type="number"
        />
      </mat-form-field>
      <mat-slide-toggle formControlName="graded">Benotet</mat-slide-toggle>
    </div>

    <app-competences-control [control]="compControl"></app-competences-control>

    <app-add-task-control [control]="tasksControl"></app-add-task-control>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Abrechen</button>
  <button
    mat-button
    [disabled]="form.invalid"
    [mat-dialog-close]="this.form.value"
  >
    Speichern
  </button>
</mat-dialog-actions>

<!-- bellow: was commented out in line 55 -->

<!-- <div
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
      style="margin-bottom: 20px"
    >
      <mat-expansion-panel style="background-color: whitesmoke">
        <mat-expansion-panel-header>
          <mat-panel-title> Lehrplan 21 Kompetenzen </mat-panel-title>
          <mat-panel-description> Wähle Kompetenzen aus </mat-panel-description>
        </mat-expansion-panel-header>

        <a mat-button color="primary" (click)="service.chooseCompetences()"
    >+ Kompetenz Wählen</a
  >
      </mat-expansion-panel>
    </div> -->
