<div class="add-container">
  <button
    class="add"
    mat-mini-fab
    matTooltip="LernJob Erstellen"
    aria-label="LernJob Erstellen"
    color="primary"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openStudyJobCreator()">LernJob</button>
    <button mat-menu-item (click)="addFolder()">Ordner</button>
  </mat-menu>
</div>

<mat-list *ngIf="tree$ | async as tree; else loading" class="list">
  <mat-list-item
    *ngFor="let folder of tree.folders; let i = index"
    [ngClass]="{
      'dark-background': i % 2 === 0,
      'light-background': i % 2 === 1
    }"
    class="repo"
    (dblclick)="openFolder()"
  >
    <mat-icon matListItemIcon> folder </mat-icon>
    <div matListItemTitle>
      <input
        type="text"
        [value]="folder.name"
        [ngClass]="{ 'dark-input': i % 2 === 1 }"
      />
    </div>
    <div matListItemLine *ngIf="false">
      <span
        *ngIf="
          folder.folders.length + folder.studyJobs.length === 0;
          else contains
        "
        >Leer</span
      >
      <ng-template #contains
        ><span
          >{{ folder.folders.length + folder.studyJobs.length }} Elemente</span
        ></ng-template
      >
    </div>
  </mat-list-item>

  <mat-list-item
    *ngFor="let job of tree.studyJobs; let i = index"
    [ngClass]="{
      'dark-background': (i + tree.folders.length) % 2 === 0,
      'light-background': (i + tree.folders.length) % 2 !== 0
    }"
    class="repo"
    (dblclick)="openJob(job)"
  >
    <div matListItemTitle>{{ job.name | titlecase }}</div>
    <div matListItemLine>{{ job.subject }}</div>
  </mat-list-item>

  <div *ngIf="tree.folders.length + tree.studyJobs.length === 0">
    Es gibt noch keine LernJobs
  </div>
</mat-list>

<ng-template #loading>
  <div *ngIf="!isError; else error">Lädt LernJobs</div>
</ng-template>

<ng-template #error> Lern Jobs konnten nicht geladen werden </ng-template>
