.add-container {
  position: absolute;
  right: 0;
  padding: 16px;
}

.dark-background {
  background-color: whitesmoke;
}

.light-background {
  background-color: #fff;
}

.repo {
  transition: transform 0.3s ease;
}

.repo:hover {
  transform: translateY(-2px);
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.dark-background:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

mat-mdc-list-item,
mdc-list-item,
repo,
mdc-list-item--with-leading-icon,
mdc-list-item--with-two-lines {
  border-radius: 10px;
}

.list {
  padding-left: 220px;
  padding-top: 60px;
  padding-right: 220px;
}

.fullscreen-dialog {
  max-width: 100% !important;
  max-height: 100% !important;
  width: 100%;
  height: 100%;
}

.dark-input {
  background-color: whitesmoke;
}

input {
  border: none;
  background-color: transparent;
  font-size: inherit;
  padding: 0.5rem;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}

/* Apply modern styles */
input {
  border: 2px solid #ddd;
  background-color: #fff;
  color: #333;
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  border-color: #aaa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
