<app-add-button (click)="addUfk()"></app-add-button>

<div style="padding: 50px">
  <div>
    <app-student-control [control]="studentControl"></app-student-control>
    <span style="width: 10px; display: inline-block"></span>
    <app-course-control [control]="courseControl"></app-course-control>
    <span style="width: 10px; display: inline-block"></span>
    <app-subject-control [control]="subjectControl"></app-subject-control>
    <span style="width: 10px; display: inline-block"></span>
    <app-ufk-control [control]="ufkControl"></app-ufk-control>
  </div>

  <!-- <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Suche</mat-label>
    <input mat-input type="search" [formControl]="search" />
  </mat-form-field> -->

  <mat-form-field style="width: 100%">
    <mat-label>Filter</mat-label>
    <input type="search" matInput [formControl]="search" />
  </mat-form-field>

  <app-ufk-table
    *ngIf="ufks$ | async as ufks; else loading"
    [ufks]="ufks"
    (delete)="deleteUfk($event)"
  ></app-ufk-table>

  <ng-template #loading><app-loading-ufk-table></app-loading-ufk-table></ng-template>

</div>
