<div class="container">
  <button
    mat-mini-fab
    matTooltip="Hinzufügen"
    aria-label="Hinzufügen"
    color="primary"
    [mat-menu-trigger-for]="menu"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item (click)="addMandetoryJob()">
    <span>Job</span>
  </button>
  <button mat-menu-item (click)="addJobChoice()">
    <span>Job Auswahl</span>
  </button>
  <button mat-menu-item (click)="addCompetenceJob()">
    <span>Kompetenzen</span>
  </button>
</mat-menu>

<div style="position: absolute; top: 0; width: 100%; z-index: 100">
  <!-- Sub Header -->
  <mat-toolbar
    color="primary"
    fxLayoutGap="8px"
    style="position: fixed; z-index: 10000"
  >
    <a mat-button routerLink="/teacher/students" (click)="goBack()"
      ><mat-icon>arrow_back</mat-icon> Zurück</a
    >
    <a mat-button (click)="(service.update)"
      ><h1>{{ service.name$ | async }}</h1></a
    >
  </mat-toolbar>

  <div
    class="main-content"
    [ngStyle]="{ 'margin-left': mainMargin, 'margin-right': mainMargin }"
    *ngIf="course$ | async as course; else loading"
  >
    <div class="title">LernWeg</div>
    <mat-grid-list
      class="jobs"
      gutterSize="20px"
      rowHeight="240px"
      [cols]="breakpoint"
      (window:resize)="onResize($event)"
    >
      <mat-grid-tile *ngFor="let container of course.path">
        <mat-card class="course-card" style="overflow: visible">
          <div class="job" mat-ripple>
            <app-mandetory-job
              *ngIf="container.type == 'mandetory' && container.mandetoryJob"
              [job]="container.mandetoryJob"
            ></app-mandetory-job>
            <app-job-choices
              *ngIf="container.type == 'choice'"
              [choices]="container.jobChoices"
              [name]="container.name"
            ></app-job-choices>
          </div>
          <app-necessairy-competences
            *ngIf="container.type == 'competence'"
            [name]="container.name"
            [competences]="container.necessairyCompetences"
          >
          </app-necessairy-competences>
          <img
            *ngIf="container.isDependent && container.dependentContainer"
            class="lock"
            src="../../../assets/lock.svg"
            alt="no svg"
            [matTooltip]="'Abhängig von ' + container.dependentContainer.name"
          /> </mat-card
      ></mat-grid-tile>

      <!-- <mat-grid-tile>
        <mat-card class="course-card" style="overflow: visible">
          <div class="job-choice-container" mat-ripple></div> </mat-card
      ></mat-grid-tile> -->
    </mat-grid-list>

    <div class="title">Schüler</div>
    <app-table></app-table>
    <div style="height: 250px"></div>
  </div>

  <ng-template #loading>
    <div *ngIf="!service.course$.hasError; else error">
      Lädt Kurs...
    </div></ng-template
  >

  <ng-template #error
    >Kurs konnten nicht geladen werden, lade die Seite neu</ng-template
  >

  <app-chat></app-chat>
</div>
