<app-add-button (click)="addStudyJob()" hint="Hinzufügen"></app-add-button>

<div style="position: absolute; top: 0; width: 100%; z-index: 100">
  <!-- Sub Header -->
  <mat-toolbar
    color="primary"
    fxLayoutGap="8px"
    style="position: fixed; z-index: 10000"
  >
    <a mat-button routerLink="/teacher/students" (click)="goBack()"
      ><mat-icon>arrow_back</mat-icon> Zurück</a
    >
    <a mat-button (click)="(service.update)"
      ><h1>{{ service.name$ | async }}</h1></a
    >
  </mat-toolbar>

  <div
    class="main-content"
    [ngStyle]="{ 'margin-left': mainMargin, 'margin-right': mainMargin }"
    *ngIf="course$ | async as course; else loading"
  >
    <div class="title">LernWeg</div>
    <mat-grid-list
      class="jobs"
      gutterSize="20px"
      rowHeight="240px"
      [cols]="breakpoint"
      (window:resize)="onResize($event)"
    >
      <mat-grid-tile *ngFor="let job of course.path">
        <mat-card class="course-card" style="overflow: visible">
          <div class="job" mat-ripple>
            <mat-card-header>
              <!-- <img [src]="job.imageUrl" [alt]="job.name" mat-card-avatar /> -->
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>{{ job.name }}</mat-card-title>
              <mat-card-subtitle>{{ job.subject }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-chip class="chip">
                <mat-icon matChipAvatar>task</mat-icon>
                {{ job.tasksCount }} Aufgaben
              </mat-chip>
              <mat-chip class="chip">
                <img
                  src="../../../assets/competence.svg"
                  matChipAvatar
                  alt=""
                />
                {{ job.competencesCount }} Kompetenzen
              </mat-chip>
              <mat-chip class="chip">
                <img src="../../../assets/credits.svg" matChipAvatar alt="" />
                {{ job.credits }} Credits
              </mat-chip>
            </mat-card-content>
          </div>
          <img
            *ngIf="job.dependend"
            class="lock"
            src="../../../assets/lock.svg"
            alt="no svg"
            [matTooltip]="'Abhängig von ' + job.dependend.name"
          /> </mat-card
      ></mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="course-card" style="overflow: visible">
          <div class="job-choice-container" mat-ripple>
            <mat-card-header>
              <mat-card-title>LernJob Auswahl</mat-card-title>
              <mat-card-subtitle>Mathematik</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style="height: 95px">
              <div style="height: 40px"></div>
              <mat-chip
                class="job-choice"
                matTooltip="6 Credits, 12 Kompetenzen, 7 Aufgaben"
              >
                <!-- <img
                  matChipAvatar
                  src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp9074250.jpg&f=1&nofb=1&ipt=644cac44eae37f53c27bb552f26ace6ec3c60fa73ff2ce35fceb57141145d3bd&ipo=images"
                  alt="Photo of a Shiba Inu"
                /> -->
                Konvexität 01</mat-chip
              >
              <mat-chip
                class="job-choice"
                matTooltip="6 Credits, 12 Kompetenzen, 7 Aufgaben"
              >
                Konvexität 02</mat-chip
              >
              <mat-chip
                class="job-choice"
                matTooltip="6 Credits, 12 Kompetenzen, 7 Aufgaben"
              >
                Konvexität nach Leibniz</mat-chip
              >
            </mat-card-content>
          </div>
        </mat-card></mat-grid-tile
      >
    </mat-grid-list>

    <div class="title">Schüler</div>
    <app-table></app-table>
    <div style="height: 250px"></div>
  </div>

  <ng-template #loading>
    <div *ngIf="!service.course$.hasError; else error">
      Lädt Kurs...
    </div></ng-template
  >

  <ng-template #error
    >Kurs konnten nicht geladen werden, lade die Seite neu</ng-template
  >

  <app-chat></app-chat>
</div>
