<h2 mat-dialog-title>Kompetenzen Auswählen</h2>

<mat-dialog-content style="width: 700px; height: 1500px">
  <div
    *ngIf="service.subjectList$ | async as subjectList; else loading"
    style="padding: 5px 30px 0 30px"
  >
    <app-select-subject [form-control]="subjectControl"></app-select-subject>

    <app-all-subjects
      (open-subject)="openSubject($event)"
      *ngIf="!(service.selectedSubject$ | async)"
    ></app-all-subjects>

    <app-selected-subject
      *ngIf="service.selectedSubject$ | async"
    ></app-selected-subject>
  </div>
</mat-dialog-content>

<ng-template #loading>
  <div *ngIf="!service.subjectList$.hasError; else error">
    Lädt Kompetenzen...
  </div></ng-template
>
<ng-template #error
  >Kompetenzen konnten nicht geladen werden, öffnen Sie das Feld
  erneut</ng-template
>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Abrechen</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
    Auswählen
  </button>
</mat-dialog-actions>
