<mat-dialog-content class="mat-typography" style="width: 700px; height: 400px">
  <h4>Aufgabe Erstellen</h4>
  <form [formGroup]="taskForm" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-form-field fxFlex style="width: 100%">
        <input
          matInput
          placeholder="Titel"
          aria-label="Titel"
          formControlName="title"
        />
        <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
          Titel ist obligatorisch
        </mat-error>
        <mat-error *ngIf="taskForm.get('title')?.hasError('maxlength')">
          Titel darf nicht länger als 50 sein
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-form-field fxFlex style="width: 100%">
        <textarea
          matInput
          placeholder="Text"
          aria-
          label="Text"
          formControlName="text"
        ></textarea>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-form-field fxFlex>
        <mat-label>Gewichtung</mat-label>
        <input
          type="number"
          matInput
          placeholder="Gewichtung"
          aria-label="Gewichtung"
          formControlName="weight"
        />
      </mat-form-field>

      <mat-slide-toggle
        color="primary"
        formControlName="graded"
        style="margin-left: 15px"
        (click)="toggleGraded()"
        >Benotet</mat-slide-toggle
      >
    </div>

    <button color="primary" mat-button (click)="fileInput.click()">
      <mat-icon *ngIf="!selectedFile">add</mat-icon>
      {{ selectedFile ? "Dokument Ändern" : "Dokument Hinzufügen" }}
    </button>
    <input
      hidden
      (change)="onFileSelected($event)"
      #fileInput
      type="file"
      id="file"
    />
    <div *ngIf="selectedFile">
      {{ selectedFile.name }}
      <button color="danger" mat-button (click)="removeFile()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Abrechen</button>
  <button mat-button [disabled]="!taskForm.valid" [mat-dialog-close]="taskData">
    Speichern
  </button>
</mat-dialog-actions>
