<div class="task-card">
  <!-- Main Body -->
  <div class="main">
    <span class="title" *ngIf="task.title">{{ task.title | titlecase }}</span>

    <span *ngIf="!task.title && task.file">
      <img
        class="fileIcon"
        *ngIf="isKnownExtension(task.file.extension)"
        src="../../../assets/pdf.png"
      />
      <a
        class="file-link"
        [ngClass]="{'title': !isKnownExtension(task.file.extension)}"
        (click)="openFile(task.file.url)"
        >{{ task.file.name }}</a
      >
    </span>

    <button class="edit-button" mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="editJob()">
        <mat-icon>edit</mat-icon>
        <span>Bearbeiten</span>
      </button>
      <button mat-menu-item (click)="deleteJob()">
        <mat-icon>delete</mat-icon>
        <span>Löschen</span>
      </button>
    </mat-menu>

    <button
      class="expand-button"
      *ngIf="task.text || (task.file && task.title); else spacer"
      mat-icon-button
      (click)="this.toggleExpanded()"
    >
      <mat-icon *ngIf="!isExpanded">expand_more</mat-icon>
      <mat-icon *ngIf="isExpanded">expand_less</mat-icon>
    </button>

    <ng-template #spacer>
      <span class="expand-button">
        <span style="width: 48px; display: inline-block"></span>
      </span>
    </ng-template>

    <span style="float: right">
      <mat-chip *ngIf="task.isSelfControl">Selbstkontrolle</mat-chip>
      <mat-chip style="margin-left: 5px" *ngIf="task.graded">Benotet</mat-chip>
      <mat-chip style="margin-left: 5px"
        >Gewichtung: {{ task.weight }}</mat-chip
      >
    </span>
  </div>

  <!-- Detail -->
  <div *ngIf="isExpanded">
    <span class="title" *ngIf="task.title && task.file">
      <img
        class="fileIcon"
        *ngIf="isKnownExtension(task.file.extension)"
        src="../../../assets/pdf.png"
      />
      <a
        class="file-link"
        [ngClass]="{'title': !isKnownExtension(task.file.extension)}"
        (click)="openFile(task.file.url)"
        >{{ task.file.name }}</a
      >
    </span>
    <p style="margin-bottom: 0; margin-top: 16px" class="mat-typographie">
      {{ task.text }}
    </p>
  </div>
</div>
