.task-main {
  height: 52px;
  display: flex;
  align-items: center;
}

.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.06);
  padding-left: 16px;
  margin-bottom: 16px;
}

.spacer {
  margin-left: auto;
}

.expand-button {
  margin-left: 5px;
}

.detail {
  padding-bottom: 12px;
}
