<div class="task-card">
  <img src="../../../assets/pdf.png" class="fileIcon" />

  <a [href]="getSafeFileUrl('')" target="_blank" class="file-link"
    >{{ task.title.toLocaleLowerCase() }}.pdf</a
  >
  <button mat-icon-button [mat-menu-trigger-for]="menu" class="edit-button">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item (click)="deleteJob()">
      <mat-icon>delete</mat-icon>
      <span>Löschen</span>
    </button>
    <button mat-menu-item (click)="editJob()">
      <mat-icon>edit</mat-icon>
      <span>Bearbeiten</span>
    </button>
  </mat-menu>
  <button
    *ngIf="task.text"
    mat-icon-button
    (click)="this.toggleExpanded()"
    class="expand-button"
  >
    <mat-icon *ngIf="!isExpanded">expand_more</mat-icon>
    <mat-icon *ngIf="isExpanded">expand_less</mat-icon>
  </button>

  <span style="float: right">
    <mat-chip *ngIf="task.graded">Benotet</mat-chip>
    <mat-chip style="margin-left: 5px">Gewichtung: {{ task.weight }}</mat-chip>
  </span>

  <p
    *ngIf="isExpanded"
    style="margin-bottom: 0; margin-top: 16px"
    class="mat-typographie"
  >
    {{ task.text }}
  </p>
</div>
