<div class="card">
  <!-- Main Body -->
  <div class="task-main">
    <span *ngIf="task.title">{{ task.title | titlecase }}</span>
    <app-file [file]="task.file" *ngIf="!task.title && task.file"></app-file>

    <span class="spacer"></span>

    <ng-template #spacer>
      <span class="expand-button">
        <span style="width: 48px; display: inline-block"></span>
      </span>
    </ng-template>

    <span>
      <mat-chip *ngIf="task.isSelfControl">Selbstkontrolle</mat-chip>
      <mat-chip style="margin-left: 5px" *ngIf="task.isSubmission"
        >Abgabe</mat-chip
      >
      <mat-chip style="margin-left: 5px" *ngIf="task.graded">Benotet</mat-chip>
      <mat-chip style="margin-left: 5px"
        >Gewichtung: {{ task.weight }}</mat-chip
      >
    </span>

    <button
      class="expand-button"
      *ngIf="task.text || (task.file && task.title)"
      mat-icon-button
      (click)="this.toggleExpanded()"
    >
      <mat-icon *ngIf="!isExpanded">expand_more</mat-icon>
      <mat-icon *ngIf="isExpanded">expand_less</mat-icon>
    </button>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="editJob()">
        <mat-icon>edit</mat-icon>
        <span>Bearbeiten</span>
      </button>
      <button mat-menu-item (click)="deleteJob()">
        <mat-icon>delete</mat-icon>
        <span>Löschen</span>
      </button>
    </mat-menu>
  </div>

  <!-- Detail -->

  <div class="detail" *ngIf="isExpanded">
    <app-file [file]="task.file" *ngIf="task.title && task.file"></app-file>

    <div class="mat-typography" *ngIf="task.text">
      <p style="margin-top: 15px">Beschreibung:</p>
      <p>{{ task.text }}</p>
    </div>
  </div>
</div>
