<div class="table mat-elevation-z8">
  <div class="row under-line">
    <div class="header-row">
      <div
        class="header-element"
        *ngFor="let header of headers"
        [ngStyle]="{ width: header.width + '%' }"
      >
        {{ header.name | titlecase }}
      </div>
    </div>
  </div>

  <div class="row" *ngFor="let ufk of ufks">
    <div class="sub-row">
      <!-- grade -->
      <div class="col" [ngStyle]="{ width: this.headers[0].width + '%' }">
        <mat-icon *ngIf="ufk.grade <= 0.6" style="color: red">fmd_bad</mat-icon>
        <mat-icon *ngIf="ufk.grade > 0.6" style="color: green">bolt</mat-icon>
      </div>
      <!-- student -->
      <div class="col" [ngStyle]="{ width: this.headers[1].width + '%' }">
        {{ ufk.student.name | titlecase }}
      </div>
      <!-- teacher -->
      <div class="col" [ngStyle]="{ width: this.headers[2].width + '%' }">
        {{ ufk.teacher.name | titlecase }}
      </div>
      <!-- title -->
      <div class="col" [ngStyle]="{ width: this.headers[3].width + '%' }">
        {{ ufk.title | titlecase }}
      </div>
      <!-- competence -->
      <div class="col" [ngStyle]="{ width: this.headers[4].width + '%' }">
        <mat-chip [matTooltip]="ufk.competence.name">{{
          ufk.competence.name | slice : 0 : 25
        }}</mat-chip>
      </div>

      <!-- course -->
      <div class="col" [ngStyle]="{ width: this.headers[5].width + '%' }">
        {{ ufk.course?.name || "--" | titlecase }}
      </div>
      <!-- subject -->
      <div class="col" [ngStyle]="{ width: this.headers[6].width + '%' }">
        <span *ngIf="ufk.subject" [matTooltip]="ufk.subject.name">{{
          ufk.subject.short | titlecase
        }}</span>
        <span *ngIf="!ufk.subject">--</span>
      </div>
      <!-- date -->
      <div class="col" [ngStyle]="{ width: this.headers[7].width + '%' }">
        {{ ufk.date | date }}
      </div>
      <!-- expand -->
      <div class="col" [ngStyle]="{ width: this.headers[8].width + '%' }">
        <button
          class="more-expanded-btn"
          (click)="toggleExpanded(ufk._id)"
          mat-icon-button
          *ngIf="ufk.file || ufk.text"
        >
          <mat-icon class="expand-icon" *ngIf="ufk._id != expandedElement"
            >expand_more</mat-icon
          >
          <mat-icon class="expand-icon" *ngIf="ufk._id == expandedElement"
            >expand_less</mat-icon
          >
        </button>
        <div *ngIf="!ufk.file && !ufk.text">
          <button
            class="more-expanded-btn"
            mat-icon-button
            [mat-menu-trigger-for]="menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="editUfk(ufk)">
              <mat-icon>edit</mat-icon>
              <span>Bearbeiten</span>
            </button>
            <button mat-menu-item (click)="deleteUfk(ufk)">
              <mat-icon>delete</mat-icon>
              <span>Löschen</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div
      class="more-info"
      *ngIf="ufk._id == expandedElement"
      style="position: relative"
    >
      <div *ngIf="ufk.text">
        <p>{{ ufk.text }}</p>
      </div>
      <div *ngIf="ufk.file"><app-file [file]="ufk.file"></app-file></div>
      <button
        class="more-expanded-btn"
        mat-icon-button
        [mat-menu-trigger-for]="menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="editUfk(ufk)">
          <mat-icon>edit</mat-icon>
          <span>Bearbeiten</span>
        </button>
        <button mat-menu-item (click)="deleteUfk(ufk)">
          <mat-icon>delete</mat-icon>
          <span>Löschen</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
