<div class="add-container">
  <button
    class="add"
    mat-mini-fab
    matTooltip="LernJob Erstellen"
    aria-label="LernJob Erstellen"
    color="primary"
    (click)="openStudyJobCreator()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<mat-list *ngIf="tree$ | async as tree; else loading" class="list">
  <mat-list-item
    *ngFor="let folder of tree.repositoryFolders"
    class="repo"
    (dblclick)="openFolder()"
  >
    <mat-icon matListItemIcon>folder</mat-icon>
    <div matListItemTitle>{{ folder.name }}</div>
    <div matListItemLine>Details...</div>
  </mat-list-item>

  <mat-list-item
    *ngFor="let repo of tree.repositories"
    class="repo"
    (dblclick)="openRepo(repo)"
  >
    <div matListItemTitle>{{ repo.name }}</div>
    <div matListItemLine>Lernjobs: {{ repo.studyJobIds.length }}</div>
  </mat-list-item>

  <div *ngIf="tree.repositoryFolders.length + tree.repositories.length === 0">
    Es gibt noch keine LernJobs
  </div>
</mat-list>

<ng-template #loading>
  <div *ngIf="!isError; else error">Lädt LernJobs</div>
</ng-template>

<ng-template #error> Lern Jobs konnten nicht geladen werden </ng-template>
