<mat-card-header>
  <mat-card-title>{{ job.name }}</mat-card-title>
  <mat-card-subtitle>{{ job.subject.name }}</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <mat-chip class="chip">
    <mat-icon matChipAvatar>task</mat-icon>
    {{ job.tasks.length }} Aufgaben
  </mat-chip>
  <mat-chip class="chip">
    <img src="../../../../../../assets/competence.svg" matChipAvatar alt="" />
    {{ job.competences.length }} Kompetenzen
  </mat-chip>
  <mat-chip class="chip">
    <img src="../../../../../assets/credits.svg" matChipAvatar alt="" />
    {{ job.credits }} Credits
  </mat-chip>
</mat-card-content>
