<div style="position: absolute; top: 0; width: 100%; z-index: 100">
  <!-- Sub Header -->
  <mat-toolbar color="primary" fxLayoutGap="8px">
    <a mat-button routerLink="/teacher/courses"
      ><mat-icon>arrow_back</mat-icon> Zurück</a
    >
    <a mat-button (click)="(service.update)"
      ><h1>{{ service.name$ | async }}</h1></a
    >
  </mat-toolbar>

  <!-- Content -->
  <div
    *ngIf="service.course$ | async as course; else loading"
    style="padding: 20px; margin-left: 15vw; margin-top: 50px"
    class="mat-typography"
  >
    <div fxLayout="row">
      <mat-card style="position: relative; width: 350px; margin-right: 50px"
        ><mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Schüler</mat-card-title>
            <mat-card-subtitle>Auflistung aller Schüler</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item
              *ngFor="let student of course.students"
              class="clickable"
              (click)="service.navigateToStudent(student)"
            >
              {{ student.fullName }}
            </mat-list-item>
          </mat-list>

          <div *ngIf="course.students.length === 0">
            Dem Kurse wurden noch keine Schüler hinzugefügt
          </div>

          <div style="height: 50px"></div>

          <button
            mat-raised-button
            color="primary"
            style="position: absolute; bottom: 16px"
          >
            Schüler Verwalten
          </button>
        </mat-card-content>
      </mat-card>

      <app-study-path style="width: 450px"></app-study-path>
    </div>

    <div fxLayout="row" style="margin-top: 50px">
      <mat-card style="position: relative; width: 400px; margin-right: 50px"
        ><mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Beischreibung</mat-card-title>
            <mat-card-subtitle>Zusätzliche Infos zum Kurs</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <div style="margin-top: 16px">
            Erstellt euren eigenen LernWeg und arbeitet konzentriert an den
            LernJobs. Bei Fragen seid ihr sehr willkommen auf die anwesende
            Lehrperson zuzugehen und ungeniert Fragen zu stellen. Viel Spass!
          </div>

          <div style="height: 50px"></div>

          <button
            mat-raised-button
            color="primary"
            style="position: absolute; bottom: 16px"
          >
            Beschreibung Ändern
          </button>
        </mat-card-content>
      </mat-card>

      <mat-card style="position: relative; width: 400px; margin-right: 50px"
        ><mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Kalender</mat-card-title>
            <mat-card-subtitle
              >Auflistung der aktuellen Daten</mat-card-subtitle
            >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item class="clickable">
              07.09 Vortrag Geschichte
            </mat-list-item>
            <mat-list-item class="clickable">
              16.09 Exkursion (Wanderschuhe)
            </mat-list-item>
            <mat-list-item class="clickable">
              23.09 Abgabe Aufsatz
            </mat-list-item>
          </mat-list>

          <div style="height: 50px"></div>

          <button
            mat-raised-button
            color="primary"
            style="position: absolute; bottom: 16px"
          >
            Schüler Verwalten
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <ng-template #loading>
    <div *ngIf="!service.course$.hasError; else error">
      Lädt Kurs...
    </div></ng-template
  >

  <ng-template #error
    >Kurs konnten nicht geladen werden, lade die Seite neu</ng-template
  >

  <div class="chat-icon-container">
    <button mat-fab color="primary" (click)="toggleChat()">
      <mat-icon>chat</mat-icon>
    </button>
  </div>

  <!-- chat -->
  <div class="chat-container" [ngClass]="{ 'chat-open': isChatOpen }">
    <div class="chat-header">
      <h3>Chat</h3>
      <button mat-icon-button (click)="toggleChat()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="chat-content">
      <div
        *ngFor="let message of messages"
        [ngClass]="{ 'current-user-message': isCurrentUserMessage(message) }"
      >
        <p class="message">{{ message.message }}</p>
        <p class="metadata">
          {{ message.authorName.firstName }} {{ message.authorName.lastName }} -
          {{ message.date | date : "short" }}
          <span *ngIf="message.edited">(edited)</span>
        </p>
      </div>
    </div>

    <div class="chat-footer">
      <mat-form-field>
        <input
          matInput
          placeholder="Type your message"
          [(ngModel)]="newMessage"
          (keyup.enter)="sendMessage()"
        />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="sendMessage()">
        Send
      </button>
    </div>
  </div>
</div>
