<mat-toolbar
  class="mat-elevation-z8"
  color="primary"
  style="position: fixed; z-index: 1000; top: 0"
>
  <a mat-button (click)="navigateBack()"
    ><mat-icon>arrow_back</mat-icon> Zurück</a
  >
  <span style="width: 2rem"></span>
  <h1>{{ courseName + ": " }} {{ studentName | titlecase }}</h1>
</mat-toolbar>

<div
  style="
    padding: 20px;
    margin-left: 20%;
    width: 60%;
    margin-top: 150px;
    margin-bottom: 50px;
  "
  class="mat-typography"
>
  <div class="title">
    LernWeg
    <button
      color="primary"
      mat-mini-fab
      (click)="editPath()"
      [matBadge]="
        course$.value?.notMetContainerList?.length == 0
          ? ''
          : course$.value?.notMetContainerList?.length
      "
      matBadgeColor="accent"
      matBadgePosition="above before"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <app-study-path></app-study-path>
</div>

<div
  style="padding: 20px; margin-left: 20%; width: 60%"
  class="mat-typography"
  *ngIf="progressList$ | async as progressList"
>
  <div class="title">Leistungen</div>

  <app-edit-progress-table
    (updated)="ngOnInit()"
    [progress-list]="progressList"
  ></app-edit-progress-table>
</div>
