<div style="position: absolute; width: 100%; top: 0; z-index: 100">
  <mat-toolbar color="primary" style="position: fixed; z-index: 1000">
    <a mat-button (click)="navigateBack()"
      ><mat-icon>arrow_back</mat-icon> Zurück</a
    >
    <span style="width: 2rem"></span>
    <h1>{{ courseName + ": " + name | titlecase }}</h1>
  </mat-toolbar>

  <div
    style="padding: 20px; margin-left: 20%; width: 60%; margin-top: 150px"
    class="mat-typography"
  >
    <div fxLayout="row" fxLayoutGap="50px">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Fortschritt </mat-card-title>
          <mat-card-subtitle
            >Bisheriger Fortschritt von {{ name }}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content *ngIf="participant$ | async as participant">
          <mat-list>
            <div
              *ngFor="
                let selectedContainer of participant.selectedContainerList
              "
            >
              <div
                *ngFor="let jobProgress of selectedContainer.jobProgressList"
              >
                <mat-list-item>
                  <span matListItemTitle>{{ jobProgress.job.name }}</span>
                  <span matListItemLine
                    >Fortschritt: {{ jobProgress.progress | percent }}</span
                  >
                  <span matListItemLine *ngIf="jobProgress.grade"
                    >Note: {{ jobProgress.grade | percent }}</span
                  >
                  <span matListItemLine *ngIf="!jobProgress.grade"
                    >Keine Bewertung</span
                  >
                </mat-list-item>
                <mat-card-subtitle
                  >Aufgaben
                  <mat-icon
                    (click)="toggle(jobProgress)"
                    style="vertical-align: bottom; cursor: pointer"
                    >{{
                      jobProgress.isShowTaskProgress
                        ? "keyboard_arrow_up"
                        : "keyboard_arrow_down"
                    }}</mat-icon
                  >
                </mat-card-subtitle>
                <div *ngIf="jobProgress.isShowTaskProgress">
                  <mat-list-item
                    *ngFor="let taskProgress of jobProgress.taskProgressList"
                  >
                    <span matListItemTitle
                      >{{ taskProgress.task.title | titlecase }}
                      <button
                        *ngIf="taskProgress.grade"
                        mat-icon-button
                        style="vertical-align: bottom"
                        (click)="editGrade(taskProgress)"
                      >
                        <mat-icon style="font-size: 16px">edit</mat-icon>
                      </button>
                    </span>
                    <span matListItemLine *ngIf="taskProgress.grade"
                      >Note: {{ taskProgress.grade | percent }}
                    </span>
                    <div *ngIf="!taskProgress.task.graded">
                      <span matListItemLine *ngIf="!taskProgress.completed"
                        >Nicht Begonnen</span
                      >
                      <span matListItemLine *ngIf="taskProgress.completed"
                        >Bearbeitet</span
                      >
                    </div>
                    <div *ngIf="taskProgress.task.graded">
                      <span
                        matListItemLine
                        *ngIf="!taskProgress.grade"
                        style="margin-bottom: 20px"
                      >
                        <button
                          color="primary"
                          mat-raised-button
                          (click)="addGrade(taskProgress)"
                        >
                          Note Eintragen
                        </button>
                      </span>
                      <span matListItemLine *ngIf="!taskProgress.grade"></span>
                    </div>
                  </mat-list-item>
                </div>
              </div>

              <div *ngIf="!selectedContainer.jobProgressList">
                <mat-list-item>
                  {{ selectedContainer.container.name }}: Nicht Angenommen
                  <button
                    color="primary"
                    mat-raised-button
                    style="float: right"
                    (click)="commitContainer(selectedContainer.container)"
                  >
                    Annehmen
                  </button>
                </mat-list-item>
              </div>
              <mat-divider></mat-divider>
            </div>
          </mat-list>
          <!-- <mat-list>
            <mat-list-item>
              <span matListItemTitle>Koordinaten</span>
              <span matListItemLine>Fortschritt: 100%</span>
              <span matListItemLine>Note: 86.9%</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Aufsatz</span>
              <span matListItemLine>Fortschritt: 0%</span>
              <span matListItemLine>Note: -</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Vortrag</span>
              <span matListItemLine>Fortschritt: 100%</span>
              <span matListItemLine>Note: 85%</span>
            </mat-list-item>
          </mat-list> -->
        </mat-card-content>
      </mat-card>

      <!-- <mat-card>
        <mat-card-header>
          <mat-card-title>Kompetenzen </mat-card-title>
          <mat-card-subtitle
            >Kompetenzen von {{ courseName }}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <span matListItemTitle style="color: red"
                >Französisch Lesen B1</span
              >
              <span matListItemLine style="color: brown"
                >Nicht in LernJobs enthalten</span
              >
            </mat-list-item>

            <mat-list-item>
              <span matListItemTitle>Lineare Algebra</span>
              <span matListItemLine>Erfüllt</span>
            </mat-list-item>

            <mat-list-item>
              <span matListItemTitle>Frei Sprechen</span>
              <span matListItemLine>Nicht Erfüllt</span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card> -->
    </div>

    <!-- <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 50px">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Aufgaben </mat-card-title>
          <mat-card-subtitle>Abgegebene und offene Aufgaben </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <div style="margin-left: 16px; margin-top: 30px">
            <h4>Aufsatz</h4>
            <p class=".mat-caption" style="font-style: italic; margin-top: 5px">
              abgegeben: 13.08.2023 23:23
            </p>
          </div>
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>Koordinaten</span>
              <span matListItemLine>nicht abgegeben</span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div> -->
  </div>
</div>
