<div class="table">
  <div class="header" *ngIf="!noHeader">
    <div class="sub-row">
      <div
        class="header-element"
        *ngFor="let header of headers"
        [ngStyle]="{ width: header.cssWidth }"
      >
        {{ header.name | titlecase }}
      </div>
    </div>
  </div>

  <div class="row" *ngFor="let progress of progressList">
    <div class="sub-row">
      <!-- name -->
      <div [ngStyle]="{ width: this.headers[0].cssWidth }" class="col">
        {{ progress.job.name }}
      </div>
      <!-- grade -->
      <div class="col" [ngStyle]="{ width: this.headers[1].cssWidth }">
        <span *ngIf="progress.progress == 1">
          <span *ngIf="progress.grade">
            {{ progress.grade | percent }}
          </span>
          <span *ngIf="!progress.grade"> Nicht Benotet </span>
        </span>
        <span *ngIf="progress.progress != 1"> -- </span>
      </div>
      <!-- progress -->
      <div [ngStyle]="{ width: this.headers[2].cssWidth }" class="col">
        {{ progress.progress | percent }}
      </div>
      <!-- competences -->
      <div [ngStyle]="{ width: this.headers[3].cssWidth }" class="col">
        <mat-chip
          [matTooltip]="comp.name"
          class="chip"
          *ngFor="let comp of progress.job.competences | slice : 0 : 4"
          >{{ comp.name | slice : 0 : 15 }}</mat-chip
        >
      </div>
    </div>
  </div>
</div>
