<app-add-button icon="edit" hint="Bearbeiten"></app-add-button>
<div
  style="padding-top: 30px; padding-left: 50px; padding-right: 100px"
  class="mat-typography"
>
  <h1>{{ name | titlecase }}</h1>

  <div *ngIf="!teacher$.hasError; else error">
    <div
      *ngIf="teacher$ | async as teacher; else loading"
      style="position: relative"
    >
      <div>{{ teacher.email }}</div>
      <div style="position: absolute; top: 0px; left: 350px">
        <img
          height="200px"
          [src]="
            teacher.picture ||
            'https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_243887.png&f=1&nofb=1&ipt=e3f54932455d42b16f86b720533a0c35080683081d512dc4d580ed53fe58e6e6&ipo=images'
          "
        />
      </div>

      <div style="width: 200px">
        <table
          mat-table
          [dataSource]="teacher.permissions"
          class="mat-elevation-z1"
        >
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="read">
            <th mat-header-cell *matHeaderCellDef>Sehen</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon *ngIf="element.read" style="color: greenyellow"
                >check_circle</mat-icon
              >
              <mat-icon *ngIf="!element.read" style="color: red"
                >cancel</mat-icon
              >
            </td>
          </ng-container>

          <ng-container matColumnDef="write">
            <th mat-header-cell *matHeaderCellDef>Bearbeiten</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon *ngIf="element.read" style="color: greenyellow"
                >check_circle</mat-icon
              >
              <mat-icon *ngIf="!element.read" style="color: red"
                >cancel</mat-icon
              >
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>

  <ng-template #error
    >Lehrer konnten nicht geladen werden, lade die Seite neu</ng-template
  >
  <ng-template #loading>Lädt Lehrer...</ng-template>
</div>
