.chip {
  margin-left: 5px;
  margin-bottom: 5px;
}

.dialog {
  width: 700px;
  max-height: 700px;
  padding: 45px;
  padding-bottom: 0px;
}

.title {
  margin-bottom: 10px;
}

.sub-title {
  margin-bottom: 40px;
}

.card {
  max-width: 500px;
  margin-bottom: 20px;
}

.dependent {
  transform: translateY(8px);
  margin-right: 10px;
}

.choice-list {
  margin-top: 15px;
  min-height: 70px;
}
