<mat-list class="list">
  <!-- Folders -->
  <mat-list-item
    class="list-item"
    *ngFor="let folder of folder.folders"
    [routerLink]="'/teacher/study-jobs/folder/' + folder._id"
  >
    <mat-icon matListItemIcon> folder </mat-icon>
    <div matListItemTitle>
      <span>{{ folder.name | titlecase }}</span>
    </div>
  </mat-list-item>

  <!-- Study Jobs -->
  <mat-list-item
    class="list-item"
    *ngFor="let job of folder.studyJobs; let i = index"
    (click)="openJob(job)"
  >
    <div matListItemTitle>{{ job.name | titlecase }}</div>
  </mat-list-item>
</mat-list>
