.main {
  margin-top: 140px;
  margin-left: 14%;
  margin-right: 14%;
}

.info {
  margin-top: 20px;
}

mat-dialog-content {
  margin-top: 40px;
}

.status {
  font-style: italic;
}

.toolbar {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.edit-icon {
  margin-left: 6px;
  cursor: pointer;
  opacity: 0;
  vertical-align: middle;
}

.job-name:hover {
  cursor: pointer;
}

.job-name:hover .edit-icon {
  opacity: 1;
}

.description {
  width: 100%;
}

.save-button {
  float: right;
}

.competence-button {
  margin-top: 20px;
}

.competence-chip {
  margin-left: 5px;
  margin-bottom: 5px;
}
