<mat-dialog-content class="mat-typography">
  <mat-list *ngIf="currentFolder$ | async as folder; else loading">
    <mat-list-item *ngFor="let folder of folder.folders">
      {{ folder.name }}
    </mat-list-item>
    <mat-list-item *ngFor="let job of folder.studyJobs">
      {{ job.name }}
    </mat-list-item>
  </mat-list>

  <ng-template #loading> Lädt LernJobs... </ng-template>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fertig</button>
</mat-dialog-actions>
