<div class="add-container">
  <div style="margin-bottom: 10px">
    <button
      mat-mini-fab
      matTooltip="Erstellen"
      aria-label="Erstellen"
      color="primary"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div>
    <button
      mat-mini-fab
      matTooltip="Bewegen"
      aria-label="Bewegen"
      color="primary"
      (click)="service.move()"
    >
      <mat-icon>call_made</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="addJob()">LernJob</button>
    <button mat-menu-item (click)="addFolder()">Ordner</button>
  </mat-menu>
</div>

<div *ngIf="service.storeFolder$ | async as folder; else loading">
  <div class="title">
    <span class="title-segment" [routerLink]="['/teacher/study-jobs']"
      >LernJobs</span
    >
    <mat-icon class="path-divider">chevron_right</mat-icon>

    <span *ngIf="folder.shareFolder as shareFolder">
      <span
        class="title-segment"
        [routerLink]="['/teacher/study-jobs/share-folder/' + shareFolder._id]"
        >{{ shareFolder.name }}</span
      >
      <mat-icon class="path-divider">chevron_right</mat-icon>
    </span>

    <span *ngFor="let folder of folder.path">
      <span
        class="title-segment"
        [routerLink]="['/teacher/study-jobs/folder/' + folder._id]"
        >{{ folder.name }}</span
      >
      <mat-icon class="path-divider">chevron_right</mat-icon>
    </span>

    <span class="folder-name" (click)="rename()">
      <span>{{ folder.name }} </span>
      <mat-icon class="edit-icon">edit</mat-icon>
    </span>
  </div>

  <mat-list class="list">
    <div
      *ngIf="folder.storeFolderList.length + folder.studyJobList.length === 0"
    >
      Dieser Ordner ist noch leer
    </div>
    <div *ngFor="let folder of folder.storeFolderList">
      <app-folder-list-item
        [routerLink]="'/teacher/study-jobs/folder/' + folder._id"
        [folder]="folder"
      ></app-folder-list-item>
    </div>

    <div *ngIf="service.jobList$ | async as jobList">
      <app-job-list-item
        *ngFor="let job of jobList"
        [job]="job"
        (selection-change)="service.toggleSelection($event, job._id)"
      ></app-job-list-item>
    </div>
  </mat-list>
</div>

<ng-template #loading>
  <div *ngIf="!service.storeFolder$.hasError; else error">Lädt LernJobs</div>
</ng-template>

<ng-template #error>
  Lern Jobs konnten nicht geladen werden, lade die Seite neu
</ng-template>
