<div class="add-container">
  <div style="margin-bottom: 10px">
    <button
      mat-mini-fab
      matTooltip="Erstellen"
      aria-label="Erstellen"
      color="primary"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>add</mat-icon>
    </button>

    <div *ngIf="service.isOneSelected$ | async">
      <button
        mat-mini-fab
        matTooltip="Bewegen"
        aria-label="Bewegen"
        color="primary"
        (click)="service.move()"
      >
        <mat-icon>call_made</mat-icon>
      </button>
    </div>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="addJob()">LernJob</button>
    <button mat-menu-item (click)="addFolder()">Ordner</button>
  </mat-menu>
</div>

<div *ngIf="service.folder$ | async as folder; else loading">
  <div class="title">
    <span class="title-segment" routerLink="/teacher/study-jobs">LernJobs</span>
    <ng-container>
      <span *ngFor="let folderRef of folder.path">
        <mat-icon class="folder-separator">arrow_forward_ios</mat-icon>
        <span
          class="title-segment"
          [routerLink]="'/teacher/study-jobs/folder/' + folderRef._id"
          >{{ folderRef.name }}
        </span>
      </span>

      <mat-icon class="folder-separator">arrow_forward_ios</mat-icon>
      <span class="folder-name" (click)="rename()">
        <mat-icon class="folder-icon">folder</mat-icon>
        <span class="title-segment">{{ folder.name }} </span>
        <mat-icon class="edit-icon">edit</mat-icon></span
      >
    </ng-container>
  </div>

  <mat-list class="list">
    <div *ngIf="folder.folders.length + folder.studyJobs.length === 0">
      Dieser Ordner ist noch leer
    </div>
    <div *ngFor="let folder of folder.folders">
      <app-folder-list-item [folder]="folder"></app-folder-list-item>
    </div>

    <div *ngIf="service.jobList$ | async as jobList">
      <app-job-list-item
        *ngFor="let job of jobList"
        [job]="job"
        (selection-change)="service.toggleSelection($event, job._id)"
      ></app-job-list-item>
    </div>
  </mat-list>
</div>

<ng-template #loading>
  <div *ngIf="!service.folder$.hasError; else error">Lädt LernJobs</div>
</ng-template>

<ng-template #error>
  Lern Jobs konnten nicht geladen werden, lade die Seite neu
</ng-template>
