.title-segment:hover {
  cursor: pointer;
}

.folder-name:hover {
  cursor: pointer;
}

.edit-icon {
  font-size: 16px;
  height: 16px;
  opacity: 0;
}

.folder-name:hover .edit-icon {
  opacity: 1;
}

.folder-icon {
  font-size: 16px;
  height: 16px;
}

.folder-separator {
  font-size: 16px;
  height: 16px;
  padding-left: 16px;
  padding-right: 8px;
}

.add-container {
  position: absolute;
  right: 0;
  padding: 16px;
}

.title {
  padding-left: 250px;
  padding-top: 60px;
  font-size: 20px;
}

.hide {
  opacity: 0;
}

.title-segment:hover + .hide {
  opacity: 1;
}

.list {
  margin-left: 250px;
  margin-top: 32px;
}
