<h2 mat-dialog-title>Kurs Bearbeiten</h2>
<mat-dialog-content class="mat-typography" style="width: 450px">
  <form [formGroup]="editCourseForm" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-form-field fxFlex style="width: 100%">
        <input
          matInput
          placeholder="Name"
          aria-label="Name"
          formControlName="name"
        />
        <mat-error *ngIf="editCourseForm.get('name')?.hasError('required')">
          Name ist obligatorisch
        </mat-error>
        <mat-error *ngIf="editCourseForm.get('name')?.hasError('maxlength')">
          Name darf nicht länger als 50 sein
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-form-field fxFlex style="width: 100%">
        <input
          matInput
          placeholder="Credits"
          aria-
          label="Credits"
          type="number"
          formControlName="credits"
        />
        <mat-error *ngIf="editCourseForm.get('credits')?.hasError('required')">
          Credits sind obligatorisch
        </mat-error>
      </mat-form-field>
    </div>

    <mat-slide-toggle formControlName="isProject"
      >Überfachliches Projekt</mat-slide-toggle
    >

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-form-field fxFlex style="width: 100%">
        <input
          matInput
          placeholder="Bild Url"
          aria-label="ImageUrl"
          formControlName="imageUrl"
        />
      </mat-form-field>
    </div>

    <div>
      <button
        style="margin-top: 20px"
        mat-button
        color="primary"
        (click)="editStudentList()"
        [disabled]="editCourseForm.disabled"
      >
        <mat-icon>add</mat-icon> Schüler Hinzufügen
      </button>

      <div *ngIf="studentList$ | async as studentList">
        <span *ngFor="let stud of studentList; index as i">{{
          stud.name + (i == studentList.length - 1 ? "" : ", ") | titlecase
        }}</span>
      </div>
    </div>

    <div>
      <button
        style="margin-top: 20px"
        mat-button
        color="primary"
        (click)="editTeacherList()"
        [disabled]="editCourseForm.disabled"
      >
        <mat-icon>add</mat-icon> Lehrer Hinzufügen
      </button>

      <div *ngIf="teacherList$ | async as teacherList">
        <span *ngFor="let teach of teacherList; index as i">{{
          teach.name + (i == teacherList.length - 1 ? "" : ", ") | titlecase
        }}</span>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Abrechen</button>
  <button mat-button [mat-dialog-close]="createCourseData" cdkFocusInitial>
    Speichern
  </button>
</mat-dialog-actions>
