<div class="table" [class.mat-elevation-z8]="index$.value == -1">
  <div class="header">
    <div class="sub-row">
      <div
        class="header-element"
        *ngFor="let header of headers"
        [ngStyle]="{ width: header.width + '%' }"
      >
        {{ header.name | titlecase }}
      </div>
    </div>
  </div>

  <div class="row" *ngIf="progressList.length == 0">
    <div class="sub-row">Keine Leistungen</div>
  </div>

  <div class="row" *ngFor="let progress of progressList; index as i">
    <div class="sub-row" (click)="toggleIndex(i)">
      <!-- name -->
      <div class="col" [ngStyle]="{ width: this.headers[0].width + '%' }">
        {{ progress.job.name }}
      </div>
      <!-- grade -->
      <div class="col" [ngStyle]="{ width: this.headers[1].width + '%' }">
        <span *ngIf="progress.progress == 1">
          <span *ngIf="progress.grade">
            {{ progress.grade | percent }}
          </span>
          <span *ngIf="!progress.grade"> Nicht Benotet </span>
        </span>
        <span *ngIf="progress.progress != 1"> -- </span>
      </div>
      <!-- progress -->
      <div class="col" [ngStyle]="{ width: this.headers[2].width + '%' }">
        {{ progress.progress | percent }}
      </div>
      <!-- competences -->
      <div class="col" [ngStyle]="{ width: this.headers[3].width + '%' }">
        <mat-chip
          [matTooltip]="comp.name"
          class="chip"
          *ngFor="let comp of progress.job.competences | slice : 0 : 3"
          >{{ comp.name | slice : 0 : 15 }}</mat-chip
        >
      </div>

      <mat-icon class="expand-icon" *ngIf="index$.value != i"
        >expand_more</mat-icon
      >
      <mat-icon class="expand-icon" *ngIf="index$.value == i"
        >expand_less</mat-icon
      >
    </div>

    <div
      class="sub-table mat-elevation-z8"
      [@expandCollapse]="index$.value == i ? 'expanded' : 'collapsed'"
    >
      <app-task-progress-table
        [task-progress-list]="progress.taskProgressList"
      ></app-task-progress-table>
    </div>
  </div>
</div>
