<div class="add-container">
  <div style="margin-bottom: 10px">
    <button
      mat-mini-fab
      matTooltip="Erstellen"
      aria-label="Erstellen"
      color="primary"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div *ngIf="service.isOneSelected$ | async">
    <button
      mat-mini-fab
      matTooltip="Bewegen"
      aria-label="Bewegen"
      color="primary"
      (click)="service.move()"
    >
      <mat-icon>call_made</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="addJob()">LernJob</button>
    <button mat-menu-item (click)="addFolder()">Ordner</button>
  </mat-menu>
</div>

<div *ngIf="service.root$ | async as root; else loading">
  <div class="title">LernJobs</div>

  <mat-list class="list">
    <div
      *ngIf="
        root.shareFolderList.length +
          root.storeFolderList.length +
          root.studyJobList.length ===
        0
      "
    >
      Dieser Ordner ist noch leer
    </div>

    <div *ngIf="service.shareFolderList$ | async as shareFolderList">
      <app-folder-list-item
        *ngFor="let folder of shareFolderList"
        [folder]="folder"
      ></app-folder-list-item>
    </div>

    <div *ngIf="service.storeFolderList$ | async as storeFolderList">
      <app-folder-list-item
        *ngFor="let folder of storeFolderList"
        [folder]="folder"
      ></app-folder-list-item>
    </div>

    <div *ngIf="service.jobList$ | async as jobList">
      <app-job-list-item
        *ngFor="let job of jobList"
        [job]="job"
        (selection-change)="service.toggleSelection($event, job._id)"
      ></app-job-list-item>
    </div>
  </mat-list>
</div>

<ng-template #loading>
  <div *ngIf="!service.root$.hasError; else error">Lädt LernJobs</div>
</ng-template>

<ng-template #error>
  Lern Jobs konnten nicht geladen werden, lade die Seite neu
</ng-template>
