<app-toolbar></app-toolbar>
<div style="height: 64px"></div>

<div class="add-container">
  <div style="margin-bottom: 10px">
    <button
      mat-mini-fab
      matTooltip="Erstellen"
      aria-label="Erstellen"
      color="primary"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div *ngIf="service.isOneSelected$ | async">
    <button
      mat-mini-fab
      matTooltip="Bewegen"
      aria-label="Bewegen"
      color="primary"
      (click)="service.move()"
    >
      <mat-icon>call_made</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="addJob()">LernJob</button>
    <button mat-menu-item (click)="service.addStoreFolder()">Ordner</button>
    <button mat-menu-item (click)="service.addShareFolder()">
      Geteilter Ordner
    </button>
  </mat-menu>
</div>

<div>
  <div class="title">LernJobs</div>

  <mat-list class="list" *ngIf="service.root$ | async as root; else loading">
    <div
      *ngIf="
        root.shareFolderList.length +
          root.storeFolderList.length +
          root.studyJobList.length ===
        0
      "
    >
      Dieser Ordner ist noch leer
    </div>

    <div
      *ngIf="service.shareFolderList$ | async as shareFolderList"
      style="width: 80%"
    >
      <app-share-folder-list-item
        [routerLink]="'/teacher/study-jobs/share-folder/' + folder._id"
        *ngFor="let folder of shareFolderList"
        [folder]="folder"
      ></app-share-folder-list-item>
    </div>

    <div *ngIf="service.storeFolderList$ | async as storeFolderList">
      <app-folder-list-item
        [routerLink]="'/teacher/study-jobs/folder/' + folder._id"
        *ngFor="let folder of storeFolderList"
        [folder]="folder"
      ></app-folder-list-item>
    </div>

    <div *ngIf="service.jobList$ | async as jobList">
      <app-job-list-item
        *ngFor="let job of jobList"
        [job]="job"
        (selection-change)="service.toggleSelection($event, job._id)"
      ></app-job-list-item>
    </div>
  </mat-list>
</div>

<ng-template #loading>
  <mat-list class="list" *ngIf="!service.root$.hasError; else error">
    <app-loading-folder></app-loading-folder>
    <app-loading-folder></app-loading-folder>
    <app-loading-job></app-loading-job>
    <app-loading-job></app-loading-job>
  </mat-list>
</ng-template>

<ng-template #error>
  Lern Jobs konnten nicht geladen werden, lade die Seite neu
</ng-template>
