<div class="task-card">
  <!-- Main Body -->
  <div class="main">
    <span class="title" *ngIf="task.title">{{ task.title | titlecase }}</span>
    <span *ngIf="!task.title && task.file">
      <app-file [file]="task.file"></app-file>
    </span>

    <span style="margin-left: 5px; font-style: italic"
      >(<span *ngIf="!progress.grade">{{ progress.status | status }}</span
      ><span *ngIf="progress.grade">Note: {{ progress.grade | percent }}</span
      >)</span
    >

    <span class="spacer"></span>

    <mat-chip *ngIf="task.isSelfControl">Selbstkontrolle</mat-chip>
    <mat-chip style="margin-left: 5px" *ngIf="task.graded">Benotet</mat-chip>
    <mat-chip style="margin-left: 5px">Gewichtung: {{ task.weight }}</mat-chip>

    <button
      *ngIf="
        task.text || (task.file && task.title) || task.isSubmission;
        else expandReplacement
      "
      mat-icon-button
      (click)="this.toggleExpanded()"
    >
      <mat-icon *ngIf="!isExpanded">expand_more</mat-icon>
      <mat-icon *ngIf="isExpanded">expand_less</mat-icon>
    </button>

    <ng-template #expandReplacement>
      <span style="width: 48px; display: inline-block"></span>
    </ng-template>

    <button
      class="edit-button"
      mat-icon-button
      [mat-menu-trigger-for]="menu"
      *ngIf="task.isSelfControl || !task.graded; else editReplacement"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="enterProgress()">
        <mat-icon>edit</mat-icon>
        Benoten
      </button>
    </mat-menu>

    <ng-template #editReplacement>
      <span style="width: 48px; display: inline-block"></span>
    </ng-template>
  </div>

  <!-- Detail -->
  <div *ngIf="isExpanded">
    <span class="title" *ngIf="task.title && task.file">
      <app-file [file]="task.file"></app-file>
    </span>
    <p *ngIf="task.text">
      {{ task.text }}
    </p>
    <div style="margin-bottom: 12px" *ngIf="task.isSubmission">
      <div style="margin-bottom: 5px">Abgaben:</div>
      <div *ngFor="let submission of progress.submissions">
        <div style="display: flex; align-items: center">
          <app-file [file]="submission.file"></app-file>
          <span style="font-style: italic; margin-left: 10px"
            >(Abgegeben: {{ submission.date | date }})</span
          >
          <span class="spacer"></span>
          <button
            mat-button
            class="add-correction-button"
            color="primary"
            (click)="addCorrection(submission)"
          >
            Korrektur Hinzufügen
          </button>
        </div>
        <div
          class="sub-title"
          style="margin-left: 40px; margin-top: 10px"
          *ngIf="submission.corrections.length > 0"
        >
          Korrekturen:
        </div>
        <div
          style="
            display: flex;
            align-items: center;
            padding-left: 40px;
            margin-top: 10px;
          "
          *ngFor="let correction of submission.corrections"
        >
          <app-file *ngIf="correction.file" [file]="correction.file"></app-file>
          <div *ngIf="correction.text">
            {{ correction.text }}
          </div>
          <span style="font-style: italic; margin-left: 10px"
            >({{ correction.date | date }})</span
          >
        </div>
      </div>
      <div *ngIf="progress.submissions.length == 0">
        <p style="display: block">Noch keine Abgabe</p>
      </div>
    </div>
    <div style="height: 0.1px"></div>
  </div>
</div>
