<mat-dialog-content class="mat-typography" class="dialog">
  <h1>Abhängigkeit Hinzufügen</h1>
  <h2>{{ (service.job$ | async)?.name }}</h2>

  <mat-chip-listbox
    *ngIf="service.jobList$ | async as jobList"
    [formControl]="dependendControl"
  >
    <mat-chip-option [value]="job" *ngFor="let job of jobList"
      >{{ job.name }}
    </mat-chip-option>
  </mat-chip-listbox>

  <div *ngIf="(service.jobList$ | async)?.length == 0">
    LernWeg hat noch keine LernJobs
  </div>

  <div *ngIf="!(service.jobList$ | async)">Lädt LernJobs</div>
  <div *ngIf="service.jobList$.hasError">
    LernJobs konnten nicht geladen werden
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Abbrechen</button>
  <button mat-button [disabled]="form.invalid" [mat-dialog-close]="form.value">
    Hinzufügen
  </button>
</mat-dialog-actions>
