<mat-accordion *ngIf="subjects$ | async as subjects">
  <mat-expansion-panel *ngFor="let subject of subjects" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ subject.name }}
        <button
          style="position: absolute; right: 15px"
          mat-stroked-button
          (click)="service.openSubject(subject._id)"
        >
          Öffnen
        </button>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-select-topic
      *ngFor="let topic of subject.topics"
      [competences]="topic.competences"
      [subTopics]="topic.subTopics"
    ></app-select-topic>
  </mat-expansion-panel>
</mat-accordion>
