<mat-toolbar
  color="primary"
  *ngIf="{
    status: authService.authStatus$ | async,
    user: authService.currentUser$ | async
  } as auth"
>
  <a mat-button routerLink="/home" class=""><h1>Uetikon</h1></a>
  <span style="width: 2rem"></span>

  <!-- Student Routes -->
  <a
    class="link"
    *ngIf="auth.status?.userRole === 'student'"
    mat-button
    routerLink="/student/courses"
    routerLinkActive="active-link"
    >Kurse</a
  >

  <!-- Teacher Routes -->

  <div *ngIf="auth.status?.userRole === 'teacher'">
    <a
      class="link"
      mat-button
      routerLink="/teacher/courses"
      routerLinkActive="active-link"
      >Meine Kurse</a
    >
    <a
      class="link"
      mat-button
      routerLink="/teacher/projects"
      routerLinkActive="active-link"
      >Überfachliche Projekte</a
    >
    <a
      class="link"
      mat-button
      routerLink="/teacher/study-jobs"
      routerLinkActive="active-link"
      >LernJobs</a
    >
    <a
      class="link"
      mat-button
      routerLink="/teacher/students"
      routerLinkActive="active-link"
      >Schüler</a
    >
  </div>

  <!-- Shared Routes -->
  <span class="flex-spacer"></span>
  <button
    *ngIf="auth?.status?.isAuthenticated"
    mat-mini-fab
    routerLink="/user/profile"
    matTooltip="Profile"
    aria-label="User Profile"
    [ngClass]="{ 'hide-fab': auth.user?.picture }"
  >
    <img
      *ngIf="auth.user?.picture"
      class="image-cropper"
      [src]="auth?.user?.picture"
    />
    <mat-icon *ngIf="!auth.user?.picture">account_circle</mat-icon>
  </button>
  <span style="width: 0.5rem"></span>

  <button
    *ngIf="auth?.status?.isAuthenticated"
    mat-mini-fab
    routerLink="/login"
    matTooltip="Logout"
    aria-label="Logout"
  >
    <mat-icon>lock_open</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
