<mat-toolbar
  color="primary"
  *ngIf="{
    status: authService.authStatus$ | async,
    user: authService.currentUser$ | async
  } as auth"
  style="position: fixed; top: 0; left: 0; right: 0; z-index: 2"
  class="mat-elevation-z8"
>
  <a mat-button routerLink="/home" class=""><h1>Uetikon</h1></a>
  <span style="width: 2rem"></span>

  <!-- Student Routes -->
  <a
    class="link"
    *ngIf="auth.status?.userRole === 'student'"
    mat-button
    routerLink="/student/courses"
    routerLinkActive="active-link"
    >Kurse</a
  >

  <!-- Teacher Routes -->

  <div *ngIf="auth.status?.userRole === 'teacher'">
    <a
      *ngIf="isPermitted(0, auth.status)"
      class="link"
      mat-button
      routerLink="/teacher/courses"
      routerLinkActive="active-link"
      >Meine Kurse</a
    >
    <a
      *ngIf="isPermitted(2, auth.status)"
      class="link"
      mat-button
      routerLink="/teacher/study-jobs"
      routerLinkActive="active-link"
      >LernJobs</a
    >
    <a
      *ngIf="isPermitted(5, auth.status)"
      class="link"
      mat-button
      routerLink="/teacher/students"
      routerLinkActive="active-link"
      >Schüler</a
    >
  </div>

  <!-- Administrator Routes -->

  <div *ngIf="auth.status?.userRole === 'administrator'">
    <a
      class="link"
      mat-button
      routerLink="/administrator/competences"
      routerLinkActive="active-link"
      >Kompetenzen</a
    >
    <a
      class="link"
      mat-button
      routerLink="/administrator/teachers"
      routerLinkActive="active-link"
      >Lehrer</a
    >
    <a
      class="link"
      mat-button
      routerLink="/administrator/students"
      routerLinkActive="active-link"
      >Schüler</a
    >
    <a
      class="link"
      mat-button
      routerLink="/administrator/parents"
      routerLinkActive="active-link"
      >Eltern</a
    >
  </div>

  <!-- Shared Routes -->
  <span class="flex-spacer"></span>
  <button
    *ngIf="auth?.status?.isAuthenticated"
    mat-mini-fab
    routerLink="/profile"
    matTooltip="Profile"
    aria-label="Profile"
    [ngClass]="{ 'hide-fab': auth.user?.picture }"
  >
    <img
      *ngIf="auth.user?.picture"
      class="image-cropper"
      [src]="auth?.user?.picture"
    />
    <mat-icon *ngIf="!auth.user?.picture">account_circle</mat-icon>
  </button>
  <span style="width: 0.5rem"></span>

  <button
    *ngIf="auth?.status?.isAuthenticated"
    mat-mini-fab
    routerLink="/login"
    matTooltip="Logout"
    aria-label="Logout"
  >
    <mat-icon>lock_open</mat-icon>
  </button>
</mat-toolbar>

<div
  style="
    margin-top: 64px;
    overflow-y: auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  "
>
  <router-outlet></router-outlet>
</div>
