<!-- sub toolbar -->
<mat-toolbar color="accent" fxLayoutGap="8px">
  <a mat-button routerLink="/teacher/courses"><h1>Meine Kurse</h1></a>
  <span class="flex-spacer"></span>
  <button
    mat-mini-fab
    matTooltip="Kurs Erstellen"
    aria-label="Kurs Erstellen"
    color="primary"
    (click)="openCourseCreator()"
  >
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<!-- content -->
<div *ngIf="courses$ | async as courses; else loading">
  <div *ngIf="courses.length; else noCourses">
    <mat-grid-list cols="3" rowHeight="340px">
      <mat-grid-tile
        ><mat-card
          *ngFor="let course of courses"
          style="width: 280px"
          (click)="openCourse(course._id, course.name)"
          button
          mat-ripple
        >
          <mat-card-header>
            <mat-card-title>{{ course.name }}</mat-card-title>
            <mat-card-subtitle>Credits: {{ course.credits }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <h4>Lehrer</h4>
            <mat-list>
              <mat-list-item *ngFor="let teacher of course.teachers">
                {{ teacher.fullName }}
              </mat-list-item>
            </mat-list>
            <h4>Schüler:</h4>
            <mat-list>
              <li *ngFor="let student of course.students">
                {{ student.fullName }}
              </li>
            </mat-list>
          </mat-card-content>
        </mat-card></mat-grid-tile
      >
    </mat-grid-list>
  </div>
  <ng-template #noCourses>Du bist noch in keinem Kurs </ng-template>
</div>

<ng-template #loading>
  <div *ngIf="!isError; else error">Lädt kurse...</div></ng-template
>

<ng-template #error
  >Kurse konnten nicht geladen werden, lade die Seite neu</ng-template
>
