<div
  style="position: absolute; right: 0; padding: 16px"
  *ngIf="courses$ | async"
>
  <button
    mat-mini-fab
    matTooltip="Kurs Erstellen"
    aria-label="Kurs Erstellen"
    color="primary"
    (click)="service.addCourse()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<!-- content -->
<div *ngIf="courses$ | async as courses; else loading">
  <div *ngIf="courses.length; else noCourses" style="padding: 60px 180px">
    <mat-grid-list
      cols="4"
      gutterSize="20px"
      rowHeight="360px"
      [cols]="breakpoint"
      (window:resize)="onResize($event)"
    >
      <mat-grid-tile *ngFor="let course of courses">
        <mat-card
          [ngClass]="{ project: course.isProject }"
          (click)="openCourse(course._id, course.name)"
          class="course-card"
          mat-ripple
        >
          <img
            *ngIf="course.isProject"
            class="project-icon"
            src="../../../assets/light-bulb-svgrepo-com.svg"
            alt="no svg"
            matTooltip="Überfachliches Projekt"
          />
          <mat-card-header>
            <mat-card-title>{{ course.name }}</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            alt="Photo of a Shiba Inu"
            [src]="course.imageUrl"
            style="height: 210px"
          />
          <mat-card-content class="card-content">
            <mat-chip class="chip">
              <img src="../../../assets/credits.svg" matChipAvatar alt="" />
              {{ course.credits }} Credits
            </mat-chip>
            <mat-chip class="chip">
              <mat-icon matChipAvatar svgIcon="teacher"></mat-icon>

              {{ course.teacherCount }} Lehrer
            </mat-chip>
            <mat-chip class="chip">
              <mat-icon matChipAvatar svgIcon="student"></mat-icon>

              {{ course.studentCount }} Schüler
            </mat-chip>
          </mat-card-content>
        </mat-card></mat-grid-tile
      >
    </mat-grid-list>
  </div>
  <ng-template #noCourses>Du bist noch in keinem Kurs </ng-template>
</div>

<ng-template #loading>
  <div *ngIf="!courses$.hasError; else error">Lädt kurse...</div></ng-template
>

<ng-template #error
  >Kurse konnten nicht geladen werden, lade die Seite neu</ng-template
>
