<mat-toolbar color="primary">
  <a mat-button mat-dialog-close><mat-icon>arrow_back</mat-icon> Zurück</a>
  <span style="width: 2rem"></span>
  <h1>{{ repo.name }}</h1>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <h4>LernJobs</h4>
  <div *ngIf="studyJobs$ | async as jobs">
    <mat-card *ngFor="let job of jobs">
      <mat-card-header>
        <mat-card-title>{{
          job.repositoryName + ":" + job.version
        }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list *ngIf="job.tasks.length > 0">
          <app-task *ngFor="let task of job.tasks" [task]="task"> </app-task>
        </mat-list>
        <div *ngIf="job.tasks.length === 0">
          Dieser LernJob hat noch keine Aufgaben
        </div>
        <button
          color="primary"
          style="margin-top: 15px"
          mat-raised-button
          (click)="addTask(job)"
        >
          <mat-icon>add</mat-icon> Aufgabe Hinzufügen
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>
