.table {
  width: 100%;
}

.header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.header-element {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}

.row {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.sub-row {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
}

.col {
  font-size: 14px;
  display: inline-block;
}

.chip {
  margin-right: 5px;
}
