<h2 mat-dialog-title>Erstelle einen Kurs</h2>
<mat-dialog-content class="mat-typography" style="width: 350px">
  <form [formGroup]="createCourse" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-form-field fxFlex style="width: 100%">
        <input
          matInput
          placeholder="Name"
          aria-label="Name"
          formControlName="name"
        />
        <mat-error *ngIf="createCourse.get('name')?.hasError('required')">
          Name ist obligatorisch
        </mat-error>
        <mat-error *ngIf="createCourse.get('name')?.hasError('maxlength')">
          Name darf nicht länger als 50 sein
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-form-field fxFlex style="width: 100%">
        <input
          matInput
          placeholder="Credits"
          aria-
          label="Credits"
          type="number"
          formControlName="credits"
        />
        <mat-error *ngIf="createCourse.get('credits')?.hasError('required')">
          Credits sind obligatorisch
        </mat-error>
      </mat-form-field>
    </div>
    <button mat-button color="primary" (click)="addStudents()">
      <mat-icon>add</mat-icon> Schüler Hinzufügen
    </button>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Abrechen</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
    Erstellen
  </button>
</mat-dialog-actions>
