<mat-dialog-content class="mat-typography" style="width: 700px; height: 400px">
  <h4>Aufgabe Erstellen</h4>
  <form [formGroup]="form" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-form-field fxFlex style="width: 100%">
        <input
          matInput
          placeholder="Titel"
          aria-label="Titel"
          formControlName="title"
        />
        <mat-error *ngIf="form.get('title')?.hasError('required')">
          Titel ist obligatorisch
        </mat-error>
        <mat-error *ngIf="form.get('title')?.hasError('maxlength')">
          Titel darf nicht länger als 50 sein
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-form-field fxFlex style="width: 100%">
        <textarea
          matInput
          placeholder="Text"
          aria-
          label="Text"
          formControlName="text"
        ></textarea>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-form-field fxFlex>
        <mat-label>Gewichtung</mat-label>
        <input
          type="number"
          matInput
          placeholder="Gewichtung"
          aria-label="Gewichtung"
          formControlName="weight"
        />
      </mat-form-field>

      <mat-slide-toggle
        color="primary"
        formControlName="graded"
        style="margin-left: 15px"
        (click)="toggleGraded()"
        >Benotet</mat-slide-toggle
      >
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Abrechen</button>
  <button mat-button [disabled]="form.invalid" [mat-dialog-close]="form.value">
    Speichern
  </button>
</mat-dialog-actions>
