<!-- <app-add-button (click)="addUfk()"></app-add-button>

<div style="padding: 50px">
  <div>
    <app-group-control
      [control]="groupControl"
      class="control"
    ></app-group-control>
    <app-course-control
      [control]="courseControl"
      class="control"
    ></app-course-control>
    <app-teacher-control
      [control]="teacherControl"
      class="control"
    ></app-teacher-control>
    <app-ufk-control
      [control]="competenceControl"
      class="control"
    ></app-ufk-control>
    <mat-form-field appearance="outline" class="control">
      <mat-label>Datum</mat-label>
      <input [formControl]="dateControl" matInput [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <app-job-control [control]="jobControl" class="control"></app-job-control>
    <mat-form-field style="width: 100%">
      <mat-label>Filter</mat-label>
      <input matInput [formControl]="searchControl" />
    </mat-form-field>
  </div> -->

<!-- <div *ngIf="coursePerformanceList$ | async as performanceList">
    <app-competences-table
      [competenceList]="performanceList"
    ></app-competences-table>
  </div> -->
<!-- </div> -->
