<div *ngIf="course$ | async as course; else loading">
  <h3>{{ course.name }}</h3>
  <h4>{{ course.credits }} Credits</h4>
  <!-- <mat-card-content>
    <div class="grade-progress">
      <div *ngIf="course.grade" class="grade-bar">
        <div class="grade-percent">
          {{ course.grade * 100 | number : "1.0-1" }}%
          <span class="beam-text">Zwischen Note</span>
        </div>
        <div class="grade-beam" [style.width.%]="course.grade * 100"></div>
      </div>

      <div class="progress-bar">
        <div class="progress-percent">
          {{ course.progress * 100 | number : "1.0-1" }}%
          <span class="beam-text">Fortschritt</span>
        </div>
        <div
          class="progress-beam"
          [style.width.%]="course.progress * 100"
        ></div>
      </div>
    </div>
  </mat-card-content> -->
</div>

<ng-template #loading>
  <div *ngIf="!errorMessage; else error">Lädt Kurs...</div></ng-template
>

<ng-template #error
  >Kurse konnten nicht geladen werden, lade die Seite neu</ng-template
>

<div class="chat-icon-container">
  <button mat-fab color="primary" (click)="toggleChat()">
    <mat-icon>chat</mat-icon>
  </button>
</div>

<div class="chat-container" [ngClass]="{ 'chat-open': isChatOpen }">
  <div class="chat-header">
    <h3>Chat</h3>
    <button mat-icon-button (click)="toggleChat()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="chat-content">
    <div
      *ngFor="let message of messages"
      [ngClass]="{ 'current-user-message': isCurrentUserMessage(message) }"
    >
      <p class="message">{{ message.message }}</p>
      <p class="metadata">
        {{ message.authorName.firstName }} {{ message.authorName.lastName }} -
        {{ message.date | date : "short" }}
        <span *ngIf="message.edited">(edited)</span>
      </p>
    </div>
  </div>

  <div class="chat-footer">
    <mat-form-field>
      <input
        matInput
        placeholder="Type your message"
        [(ngModel)]="newMessage"
        (keyup.enter)="sendMessage()"
      />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="sendMessage()">
      Send
    </button>
  </div>
</div>
