<div class="mat-typography"><h1 style="margin-top: 50px">Lern Weg</h1></div>

<div *ngIf="path$ | async as path; else error">
  <div *ngIf="path.competences.length > 0 || path.jobs.length > 0; else noJobs">
    <div *ngFor="let job of path.jobs">
      {{ job.name }}
    </div>
    <div *ngFor="let competence of path.competences">
      {{
      <div *ngFor="let job of path.jobs">
        {{ job.name }}
      </div>
      .name }}
    </div>
  </div>

  <ng-template #noJobs>
    <div>Der Lernweg ist noch leer</div>
  </ng-template>
</div>

<ng-template #error>
  <div style="margin-bottom: 20px">
    Lern Pfad konnte nicht geladen werden, lade die Seite neu
  </div>
</ng-template>

<button mat-raised-button color="primary" (click)="editPath()">
  Lern Weg Bearbeiten
</button>
