<div *ngIf="!students$.hasError">
  <div *ngIf="filteredStudents$ | async as students; else loading">
    <div *ngIf="students.length; else nostudents" style="padding: 40px">
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Suche</mat-label>

        <input
          matInput
          [formControl]="searchControl"
          placeholder="Suche beim Namen"
        />
      </mat-form-field>
      <mat-grid-list cols="8" rowHeight="40px">
        <mat-grid-tile *ngFor="let student of students">
          <div class="student" (click)="navigateToStudent(student)">
            {{ student.fullName }}
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <ng-template #nostudents>Es gibt noch keine Schüler</ng-template>
  </div>
</div>

<ng-template #loading> Lädt Schüler...</ng-template>

<div *ngIf="students$.hasError">
  Schüler konnten nicht geladen werden, lade die Seite neu
</div>
