<app-toolbar></app-toolbar>
<div style="height: 64px"></div>

<div style="position: fixed; right: 0; padding: 16px" *ngIf="courses$ | async">
  <button
    mat-mini-fab
    matTooltip="Kurs Erstellen"
    aria-label="Kurs Erstellen"
    color="primary"
    (click)="service.addCourse()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<!-- content -->
<div *ngIf="courses$ | async as courses; else loading">
  <div style="padding: 60px 180px">
    <mat-grid-list
      cols="4"
      gutterSize="20px"
      rowHeight="360px"
      [cols]="breakpoint"
      (window:resize)="onResize($event)"
    >
      <mat-grid-tile *ngFor="let course of courses">
        <mat-card
          [ngClass]="{ project: course.isProject }"
          (click)="openCourse(course._id, course.name)"
          class="course-card"
        >
          <img
            *ngIf="course.isProject"
            class="project-icon"
            src="assets/light-bulb-svgrepo-com.svg"
            alt="no svg"
            matTooltip="Überfachliches Projekt"
          />
          <mat-card-header>
            <mat-card-title>{{ course.name }}</mat-card-title>
          </mat-card-header>
          <img
            *ngIf="course.imageUrl"
            mat-card-image
            alt="Photo of a Shiba Inu"
            [src]="course.imageUrl"
            class="image"
          />
          <div class="no-image" *ngIf="!course.imageUrl">
            <div class="no-image-letter">{{ course.name.charAt(0) }}</div>
          </div>
          <mat-card-content class="card-content">
            <mat-chip class="chip">
              <img src="../../../assets/credits.svg" matChipAvatar alt="" />
              {{ course.credits }} Credits
            </mat-chip>
            <mat-chip class="chip">
              <mat-icon matChipAvatar svgIcon="teacher"></mat-icon>

              {{ course.teacherCount }} Lehrer
            </mat-chip>
            <mat-chip class="chip">
              <mat-icon matChipAvatar svgIcon="student"></mat-icon>

              {{ course.studentCount }} Schüler
            </mat-chip>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile *ngIf="courses.length == 0">
        <mat-card class="course-card">
          <mat-card-header>
            <mat-card-title>Du bist noch in keinem Kurs</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div style="height: 20px"></div>
            <div class="no-course">
              <div>Werde einem Kurs hinzugefügt</div>
              <div>
                oder
                <a class="file-link" (click)="service.addCourse()">erstelle</a>
                einen Kurs
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <ng-template #noCourses>Du bist noch in keinem Kurs </ng-template>
</div>

<ng-template #loading>
  <div *ngIf="!courses$.hasError; else error">
    <div style="padding: 60px 180px">
      <mat-grid-list
        cols="4"
        gutterSize="20px"
        rowHeight="360px"
        [cols]="breakpoint"
        (window:resize)="onResize($event)"
      >
        <mat-grid-tile *ngFor="let i of [1, 2, 3, 4]">
          <mat-card class="course-card">
            <mat-card-header> </mat-card-header>
            <mat-card-content>
              <div class="loading-course">
                <mat-spinner></mat-spinner>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div></div
></ng-template>

<ng-template #error
  >Kurse konnten nicht geladen werden, lade die Seite neu</ng-template
>
