.chip {
  margin-top: 5px;
  margin-right: 5px;
}
.active-link {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.course-card {
  width: 380px;
}

.course-card:hover {
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease;
}

.project-icon {
  height: 45px;
  position: absolute;
  right: -15px;
  top: -15px;
  transform: rotate(10deg);
  z-index: 1;
  transition: height 0.1s;
}

.project-icon:hover {
  height: 48px;
}

.card-content {
  text-align: center;
  padding-top: 12px;
}

.image {
  height: 210px;
}

.no-image {
  height: 210px;
  background-color: #3f51b5;
  /* Use a flexbox layout */
  display: flex;

  /* Make a horizontal flexbox (the default) */
  flex-direction: row;

  /* The important part: vertically center the items */
  align-items: center;
  text-align: center;
  font-size: 150px;
  color: white;
}

.no-course {
  height: 210px;
}

.loading-course {
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-image-letter {
  width: 100%;
  text-align: center;
}

.file-link {
  display: inline-block;
  text-decoration: none;
  color: #0366d6; /* Link color */
  cursor: pointer;
}
/* Hover effect */
.file-link:hover {
  text-decoration: underline;
}
