<div style="position: absolute; width: 100%; top: 0; z-index: 100">
  <mat-toolbar color="primary">
    <a mat-button routerLink="/student/study-job/1"
      ><mat-icon>arrow_back</mat-icon> Zurück</a
    >
    <span style="width: 2rem"></span>
    <h1>{{ "Übungen 1" | titlecase }}</h1>
    <span class="flex-spacer"></span>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <div style="margin: 80px 300px" class="mat-typography">
    <h1>Beschreibung</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quidem soluta
      nisi rerum quibusdam adipisci. Distinctio vitae atque quibusdam dolores,
      fugit rem provident totam, quos, maxime debitis blanditiis perferendis
      quo?
    </p>

    <h1 style="margin-top: 50px">Dokumente</h1>

    <app-file [file]="file"></app-file>
    <app-file [file]="file"></app-file>
    <app-file [file]="file"></app-file>

    <div style="height: 50px"></div>
    <button mat-raised-button color="primary">Abgeben</button>
  </div>
</div>
