.table {
  width: 100%;
}

.header {
  width: 100%;
}

.header-element {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}

.row {
  width: 100%;
}

.sub-row {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.sub-row:hover {
  background-color: rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.col {
  font-size: 14px;
  display: inline-block;
}

.chip {
  margin-right: 5px;
}

.expand-icon {
  float: right;
  margin-right: 20px;
  vertical-align: bottom;
}

.sub-table {
  margin-top: 10px;
  margin-bottom: 10px;
}
