<mat-dialog-content class="mat-typography" class="dialog">
  <h1 class="title">LernElement Hinzufügen</h1>
  <h2 class="sub-title">Obligatorischer LernJob</h2>

  <div *ngIf="job$ | async as job">
    <mat-card class="card">
      <mat-card-header>
        {{ job.name }}
      </mat-card-header>
      <mat-card-content>
        <mat-chip class="chip"> {{ job.subject }} </mat-chip>
        <mat-chip class="chip"> Credits: {{ job.credits }} </mat-chip>
        <mat-chip class="chip"> Aufgaben: {{ job.tasks.length }}</mat-chip>
        <mat-chip class="chip">
          Kompetenzen: {{ job.competences.length }}
        </mat-chip>
      </mat-card-content>
    </mat-card>

    <button mat-raised-button style="margin-top: 15px" (click)="addDepended()">
      <mat-icon>lock</mat-icon> Abhängigkeit Hinzufügen
    </button>
  </div>

  <div *ngIf="(job$ | async) == undefined">
    <button cdkFocusInitial mat-raised-button (click)="chooseJob()">
      Job Auswählen
    </button>
    Noch kein LernJob ausgewählt
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Abbrechen</button>
  <button mat-button [disabled]="!(job$ | async)" [mat-dialog-close]="true">
    Hinzufügen
  </button>
</mat-dialog-actions>
