.table {
  width: 100%;
}

.header {
  width: 100%;
}

.header-element {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}

.row {
  width: 100%;
}

.sub-row:hover {
  background-color: rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.sub-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
}

.row-element {
  font-size: 14px;
  display: inline-block;
}

.expand-icon {
  float: right;
  margin-right: 20px;
  transform: translateY(-20px);
}

/* .sub-table {
  max-height: 0px;
  overflow: hidden;
}

.sub-table-visible {
  height: auto;
  max-height: 2000px;
} */
