.table {
  width: 100%;
}

/* .expanded-table {
  margin-top: 20px;
  margin-bottom: 20px;
} */

.header {
  width: 100%;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.12); */
}

.header-element {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}

.row {
  width: 100%;
}

.sub-row:hover {
  background-color: rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

/* .expanded-row {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
} */

.sub-row {
  /* box-shadow: -8px 0px 8px #000000; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
}

.row-element {
  font-size: 14px;
  display: inline-block;
}

.expand-icon {
  float: right;
  margin-right: 20px;
  transform: translateY(-20px);
}

.sub-table {
  max-height: 0px;
  overflow: hidden;
  /* margin-bottom: 10px; */
}

.sub-table-visible {
  height: auto;
  max-height: 2000px;
}
