<div *ngFor="let subTopic of subTopics">
  <div style="display: flex; align-items: center; padding-bottom: 10px">
    <button
      mat-icon-button
      [attr.aria-label]="'Toggle ' + subTopic.name"
      (click)="subTopic.expanded = !subTopic.expanded"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ subTopic.expanded ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </button>
    {{ subTopic.name }}
  </div>
  <div *ngIf="subTopic.expanded" style="padding-left: 30px">
    <div *ngFor="let competence of subTopic.competences">
      <mat-checkbox
        style="padding: 5px 5px 10px 5px"
        [checked]="service.isSelectedComp(competence)"
        (change)="service.toggleCompSelection($event, competence)"
        >{{ competence.name }}</mat-checkbox
      >
    </div>
  </div>
</div>

<div *ngFor="let competence of competences">
  <mat-checkbox
    style="padding: 5px 5px 10px 5px"
    [checked]="service.isSelectedComp(competence)"
    (change)="service.toggleCompSelection($event, competence)"
    >{{ competence.name }}</mat-checkbox
  >
</div>
